@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Luckiest+Guy&family=Monoton&display=swap');

*{
	padding: 0;
	margin: 0;
}
.bg{
	background: url(btsmvbg.jpg);
	background-size: auto;
	
}

.vl h1{
    color: white;
	font-weight: lighter;
	font-family: 'Luckiest Guy', cursive;
	font-style: italic;
	font-size: 60px;
	margin-top: 30px;
	width: 1500px;
	text-align: center;
	
	text-decoration-color: rgb(234, 108, 238);
	text-decoration-thickness: 6px;
	text-shadow: 0 0 3px white, 0 0 5px black;
}

.mv{
	color: rgb(234, 108, 238);
	font-weight: 10px;
	font-family: 'Changa One';
	font-style: normal;
	font-size: 30px;
	margin-top: 40px;
	text-align: center;
	text-shadow: 0 0 3px rgb(86, 5, 86), 0 0 5px white;

}


